<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

<div class="books">
		<h3>My Favorite Books</h3>
		<ul class="list-group">
		  <li class="list-group-item list-group-item-light">The Selfish Gene by Richard Dawkins</li>
		  <li class="list-group-item list-group-item-light">Turtles All the Down by John Green</li>
		  <li class="list-group-item list-group-item-light">The Society of Mind by Marvin Minsky</li>
		  <li class="list-group-item list-group-item-light">The Imam's daughter by Hannah Shah</li>
		  <li class="list-group-item list-group-item-light">The Art of War by Sun Tzu</li>
		  <li class="list-group-item list-group-item-light">Elon Musk by Ashlee Vance</li>
		  <li class="list-group-item list-group-item-light">Outliers by Malcolm Gladwell</li>
		  <li class="list-group-item list-group-item-light">To Kill a Mockingbird by Harper Lee</li>
		  <li class="list-group-item list-group-item-light">Surely You're Joking, Mr. Feynman! by Richard P. Feynman</li>
		<li class="list-group-item list-group-item-light">What the Luck? The Surprising Role of Chance in Our Everyday Lives by Gary Smith</li>
		<li class="list-group-item list-group-item-light">Leonardo da Vinci by Walter Isaacson</li>
		 <li class="list-group-item list-group-item-light">David and Goliath by Malcolm Gladwell</li>	
		</ul>
	<div class="books2">
		<h3>Wish List</h3>
		<ul class="list-group">
		  <li class="list-group-item list-group-item-light">Leonardo da Vinci by Walter Isaacson</li>
		 <li class="list-group-item list-group-item-light">David and Goliath by Malcolm Gladwell</li>		
		</ul>
	</div>
</div>

</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
