<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style type="text/css">
	.books{
		padding-top: 30px;
		text-align: center;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
</head>
<body>
	<div class="books">
		<h3>My Favorite Books</h3>
		<ul class="list-group">
		  <li class="list-group-item list-group-item-light">The Selfish Gene by Richard Dawkins</li>
		  <li class="list-group-item list-group-item-light">Turtles All the Down by John Green</li>
		  <li class="list-group-item list-group-item-light">The Society of Mind by Marvin Minsky</li>
		  <li class="list-group-item list-group-item-light">The Imam's daughter by Hannah Shah</li>
		  <li class="list-group-item list-group-item-light">The Art of War by Sun Tzu</li>
		  <li class="list-group-item list-group-item-light">Elon Musk by Ashlee Vance</li>
		  <li class="list-group-item list-group-item-light">Outliers by Malcolm Gladwell</li>
		  <li class="list-group-item list-group-item-light">To Kill a Mockingbird by Harper Lee</li>
		  <li class="list-group-item list-group-item-light">Surely You're Joking, Mr. Feynman! by Richard P. Feynman</li>

		</ul>
	</div>
	<div class="books">
		<h3>Wish List</h3>
		<ul class="list-group">
		  <li class="list-group-item list-group-item-light">Leonardo da Vinci by Walter Isaacson</li>
		 <li class="list-group-item list-group-item-light">David and Goliath by Malcolm Gladwell</li>		
		</ul>
	</div>
</body>
</html>
